main {
    background-color: #D4D2CB;
}

.navbar {
    background-color: #5D7052DC;
}

.navbar-nav .nav-link {
    color: #E8A56D;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #FFFFFF;
}

footer {
    background-color: #6A645A;
    color: #FFFFFF;
    padding: 1rem;
    text-align: center;
}

.content {
    padding: 2rem;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.photos .large {
    grid-column: span 2;
}

.photos img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-item {
    height: 500px;
}

.custom-toggler.navbar-toggler {
    border-color: black;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}